/*************** Elements generaux ***************/

body {
    font-family: Montserrat, sans-serif;
    background: #aaa;
}

main {
    height: 680px;
    width: 1200px;
    margin: auto;
}

/*************** Elements responsives ***************/
#categories-responsive{
    position: absolute; 
    visibility: hidden;
    opacity: 0;
    transition-duration: 1s; 
}
.formation-responsive-invisible, .experiences-responsive-invisible, .competences-responsive-invisible, .interets-responsive-invisible , .informations-responsive-invisible{
    display: none;
}

/*Enleve le carré chiant quand un bouton est cliqué*/
button {
    outline: none;
}

/********* 3D et rotation *********/


/********* Header *********/
header {
    height: 140px;
    background-image: linear-gradient(to bottom, rgba(0, 220, 220, 0.9), rgba(50, 50, 50, 0.9));
}

.canvas {
    position: absolute;
}

#presentation {
    margin-top: 0px;
    width: 100%;
    left: 0;
    position: absolute;
}

#presentation h3 {
    margin-top: 0;
    text-align: center;
    font-size: 200%;
    color: #d6d6d6;
    text-shadow: 0 2px 0 white;
    transition-duration: 1s;
}


#presentation p {
    margin-left: 20px;
    font-size: 90%;
    font-weight: bold;
    color:rgb(230, 230, 230);
    transition-duration: 1s;
}

h3{
    margin: auto;
    margin-bottom: 10px;
}

div p {
    color: white;
    margin: auto;
}

/********* Cube *********/

#experiment {
  -webkit-perspective: 5000px;
  -webkit-perspective-origin: 50% 200px;
    
}

#cube {
  position: relative;
  margin: 40px 0 200px 80px;
  height: 600px;
  width: 1000px;
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 660px;
  width: 1000px;/*960, 1000*/
  /*padding: 0px 20px 0px 20px;*/
  background-color: rgba(50, 50, 50, 0.95);
}

#cube .formation {
  -webkit-transform: translateZ(500px);
}

#cube .experiences {
  -webkit-transform: rotateY(90deg) translateZ(500px);
}

#cube .competences {
  -webkit-transform: rotateY(180deg) translateZ(500px);
}

#cube .interets {
  -webkit-transform: rotateY(-90deg) translateZ(500px);
}

#cube .bas {
  -webkit-transform: rotateX(-90deg) translateZ(160px) rotate(180deg);
    height: 1000px;
}


/********* skin des boutons *********/

.bouton { /* même skin que la classe formP, je n'ai pas changé la classe via js par soucis de logique car la classe ****P est reservée pour les boutons rapprochés (même logique avec les autres boutons)*/
    width: 100px;
	padding:6px 12px 5px 6px;
    border:none;
    background-color: rgba(50, 50, 50, 0);
	color:white;
    text-align: right;
}

.bouton:hover {
    cursor: pointer;
    color: rgba(255, 255, 130, 1);
    font-size: 110%;
}

.repere {
    color: aqua;
    border:none;
    background-color: rgba(50, 50, 50, 0);
    font:bold 18px Arial;
	
}

.formP{
    border:none;
	padding:6px 12px 5px 6px;
	border-bottom:2px solid white;
	font:bold 16px Arial;
    background-color: rgba(50, 50, 50, 0);
	color:white;
    box-shadow:0px 4px 2px -2px #999;
    text-align: right;
}

.form:hover {
    font-size: 110%;
}

.form::before,
.form::after {
  content: '';
  background-color: white;
  top: -4px;
  bottom: -10px;
  right: 2px;
  position: absolute;
  width: 2px;
  box-shadow:1px -1px 1px #999;
}

.expP{
    border:none;
	padding:6px 6px 5px 12px;;
	border-bottom:2px solid white;
	font:bold 16px Arial;
    background-color: rgba(50, 50, 50, 0);
	color:white;
    box-shadow:0px 4px 2px -2px #999;
    text-align: left;
}

.exp:hover {
    font-size: 110%;
}

.exp::before,
.exp::after {
  content: '';
  background-color: white;
  top: -4px;
  bottom: -10px;
  left: 2px;
  position: absolute;
  width: 2px;
  box-shadow:-1px -1px 1px #999; 
}

.compP{
    border:none;	
    padding:5px 6px 6px 12px;
	border-top:2px solid white;
	font:bold 16px Arial;
    background-color: rgba(50, 50, 50, 0);
	color:white;
    box-shadow:0px -4px 2px -2px #999;
    text-align: right;
}

.comp::before,
.comp::after {
  content: '';
  background-color: white;
  top: -10px;
  bottom: -4px;
  left: 2px;
  position: absolute;
  width: 2px;
  box-shadow:-1px -1px 1px #999; 

}

.interP{
    border:none;
	padding:5px 12px 6px 6px;
	border-top:2px solid white;
	font:bold 16px Arial;
    background-color: rgba(50, 50, 50, 0);
	color:white;
    box-shadow:0px -4px 2px -2px #999;
    text-align: right;
    
}

.inter::before,
.inter::after {
  content: '';
  background-color: white;
  top: -10px;
  bottom: -4px;
  right: 2px;
  position: absolute;
  width: 2px;
  box-shadow:1px -1px 1px #999; 

}

/********* Textes *********/
h4{
    color:rgba(255, 255, 180, 1);
}

#texte-formation {
    margin-left: 27%;
    height: 450px;
    width: 450px;
    color: white;
}

.date, #faculte {
    display: inline-block;
}

.faculte {
    font-size: 90%;
    font-style: italic;
}

.titre {
    padding-left: 50px;
    margin-bottom: 5px;
    margin-top: 0;
}

.contenu {
    padding-left: 90px;
}

#formation-1{
    margin-bottom: 20px;
}

#formation-2 {
    margin-bottom: 10px;
}

#texte-experience {
    margin-top: 5px;
    margin-left: 27%;
    height: 450px;
    width: 450px;
    color: white;
    font-size: 95%;
}

#texte-experience h5 {
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 5px;
}

#texte-experience h4 {
    margin-top: auto;
    margin-bottom: auto;
}


.missions-experiences {
    width: 650px;
    height: 110px;
}

.missions-experiences p {
    display: inline-block;
    vertical-align: top;
}

.missions-experiences ul {
    display: inline-block;
    padding-left: 10px;
}

.missions-experiences li {
    list-style: none;
}

#texte-interet {
    margin-top: 20px;
    margin-left: 27%;
    height: 450px;
    width: 450px;
    color: white;
}

#texte-interet li {
    list-style: none;
}

#texte-interet h4 {
    margin-top: 10px;
    margin-bottom: auto;
}

#texte-competence {
    margin-left: 27%;
    height: 450px;
    width: 450px;
    color: white;
    font-size: 95%;
}

#texte-competence li {
    list-style: none;
    margin-bottom: 5px;
}

#texte-competence h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#texte-competence p {
    margin-bottom: 5px;
}

#code-git{
    font-style: italic;
    font-size: 90%;
}

#competence-4 ul{
    padding-left: 0px;
}

.texteCV {
    display: none;
    transition-delay: 1.3s;
}

.texteCV_visible {
    animation: createBox 1.3s;
}

.texteCV_invisible {
    animation: createInvisibleBox 1.3s;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes createInvisibleBox {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/********* Position de base des boutons *********/

.formP {
  position: absolute;
  top: 50%;
  left: 40%;
  transition-duration: 1.3s;
}

.expP {
  position: absolute;
  top: 50%;
  right: 40%;
  transition-duration: 1.3s;
}

.compP {
  position: absolute;
  bottom: 38%;
  right: 40%;
  transition-duration: 1.3s;
}

.interP {
  position: absolute;
  bottom: 38%;
  left: 40%;
  transition-duration: 1.3s;
}

/********* Pour eloigner les boutons les uns des autres *********/

.formG {
  position: absolute;
  font:bold 16px Arial;
  top: 22%;
  left: 15%;
  border-bottom:2px solid white;
  box-shadow:0px 4px 2px -2px #999;
  transition-duration: 1.3s;
}

.expG {
  position: absolute;
  font:bold 16px Arial;
  top: 22%;
  right: 15%;
  border-bottom:2px solid white;
  box-shadow:0px 4px 2px -2px #999;
  transition-duration: 1.3s;
}

.compG {
  position: absolute;
  font:bold 16px Arial;
  bottom: 5%;
  right: 15%;
  border-top:2px solid white;
  box-shadow:0px -4px 2px -2px #999;
  transition-duration: 1.3s;
}

.interG {
  position: absolute;
  font:bold 16px Arial;
  bottom: 5%;
  left: 15%;
  border-top:2px solid white;
  box-shadow:0px -4px 2px -2px #999;
  transition-duration: 1.3s;
}

/*************** footer ***************/
/********* Barre des contacts *********/
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: aqua;
}

.logos_sociaux {
    width: 910px; /*960 largeur de la face moins les 50 de padding*/
    /*padding-left: 50px*/
    margin-left: 45px;
    position: absolute;
    bottom: 0;
    border:none;
	border-top:2px solid white;
	color:white;
    box-shadow:0px -4px 2px -2px #999; 
    text-align: center;
}

.logos_sociaux p {
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
    height: 20px;
    color: white;
    font-size: 75%;
}

.logos_sociaux img {
    padding-left: 10px;
    height: 18px;
    width: 18px;
    vertical-align: middle;
}



/**********************                   **********************/
/********************** Responsive design **********************/
/**********************                   **********************/

@media screen and (max-width : 1140px){

    /********* Cube responsive *********/
    
    #experiment {
        -webkit-perspective-origin: 0% 0;
    }
    
    body{
        margin: 5px;
        margin-right: 10px;
    }

    main {
        width: 91%;
        height: 830px;
        margin: 0;
    }
    
    #cube {
        position: relative;
        margin: 0;
        width: 100%;
    }
    
    .face {
        position: absolute;
        height: 750px;
        width: 100%;/*960, 1000*/
        /*padding: 0px 20px 0px 20px;*/
        background-color: rgba(50, 50, 50, 0.95);
    }

    #cube .bas {
      display: none;
    }
    
    /********* Header responsive *********/
    
    .canvas {
        width: 100%;
    }

    #presentation p {
        opacity: 0;
        transition-duration: 1s;
    }
    
    /********* face responsive *********/
    
    .bouton {
        position: absolute; 
        visibility: hidden;
        opacity: 0;
        transition-duration: .5s; 
    }
    
    .repere_responsive {
        color: aqua;
    }
    
    #categories-responsive{
        visibility: visible;
        position: relative;
        display:table;
        width: 100%;
        font-size: 90%;
        color: white;
        opacity: 1;
        transition-duration: 1s;
    }
    
    #categories-responsive td {
        border-bottom:2px solid white;
        padding-top: 2px;
        padding-bottom: 3px;
        padding-left: 20px;
        position: relative;
        z-index: 2;
        transition-duration: 1s;
    }
    
    #categories-responsive td:hover {
        cursor: pointer;
        color: aqua;
    }
    
    .formation-responsive-visible{
        display: block;
        font-size: 80%;
        padding-left: 10px;
        height: auto;
    }
    
    .experiences-responsive-visible{
        display: block;
        font-size: 80%;
        padding-left: 10px;
        margin-top: 5px;
    }
    
    .experiences-responsive-visible .structure {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .experiences-responsive-visible .poste {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 5px;
        color: white;
    }
    
    .experiences-responsive-visible .missions-experiences {
        width: auto;
        height: 80px;
        padding-left: 10px;
        color: white;
    }
    .experiences-responsive-visible ul {
        padding-left: 100px;
        margin-top: 2px;
        display: block;
    }
    #experience-responsive-2 {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .competences-responsive-visible{
        display: block;
        font-size: 80%;
        padding-left: 10px;
    }
    
    #informatique {
        margin-top: 2px;
    }
    
    .competences-responsive-visible ul{
        list-style: none;
        color: white;
        margin: 0;
    }
    
    .competences-responsive-visible li{
        margin-bottom: 7px;
    }
    
    .competences-responsive-visible .domaine {
        margin-bottom: 1px;
    }
    
    .interets-responsive-visible{
        display: block;
        font-size: 90%;
        padding-left: 10px;
        margin-top: 5px;
    }
    
    .interets-responsive-visible ul{
        list-style: none;
        color: white;
    }
    
    .informations-responsive-visible{
        display: block;
        font-size: 90%;
        padding-left: 10px;
        margin-top: 5px;
    }
    
    .informations-responsive-visible h3{
        color: white;
    }
    
    /********* Footer responsive *********/
    
    .logos_sociaux {
    width: 100%; /*960 largeur de la face moins les 50 de padding*/
    /*padding-left: 50px*/
    margin-left: 0;
    bottom: -40px;
    }

    .logos_sociaux p {
        margin-right: 5%;
        margin-left: 5%;
        width: 200px;
    }

    #pdf {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 900px){
    
    #presentation h3 {
        margin-top: 13%;
        transition-duration: 1s;
    }

}

/*
#experiment {
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
}

#cube {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  -webkit-transition: -webkit-transform 2s linear;
  -webkit-transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 360px;
  width: 360px;
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.7);
}

#cube .one  {
  -webkit-transform: rotateX(90deg) translateZ(200px);
}

#cube .two {
  -webkit-transform: translateZ(200px);
}

#cube .three {
  -webkit-transform: rotateY(90deg) translateZ(200px);
}

#cube .four {
  -webkit-transform: rotateY(180deg) translateZ(200px);
}

#cube .five {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
}

#cube .six {
  -webkit-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
}

*/
