<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <title>CV Alexis Giavarini</title>
</head>

   

   <div id="face-responsive">
    <table id="categories-responsive">
        <tr>
            <td class="formation-responsive-td">Formation</td>
        </tr>
        <tr>
            <td class="experiences-responsive-td">Experiences</td>
        </tr>
        <tr>
            <td class="competences-responsive-td">Competences</td>
        </tr>
        <tr>
            <td class="interets-responsive-td">Intérêts</td>
        </tr>
        <tr>
            <td class="informations-responsive-td">Informations personnelles</td>
        </tr>
    </table>

    <div id="" class="formation-responsive-invisible formation-responsive">
        <div id="formation-responsive-1">
            <h4 class="date">2016-2019 La Rochelle,</h4>
            <p class="faculte">Faculté des Sciences et Technologies </p>
            <p class="titre">Licence informatique</p>

            <p class="contenu"> Java, JavaScript, PHP, JQuery, Python, C Gestion de bases de données, Algorithmes et structures de données, Web. </p>
        </div>
        <div id="formation-responsive-2">
            <h4 class="date">2011-2015 Poitiers,</h4>
            <p class="faculte">U.F.R Lettres et langues </p>
            <p class="titre">Licence Langues Etrangères Appliquées</p>

            <p class="contenu">Anglais, Espagnol, Economie, Droit, Marketing, Communication, Commerce international, Gestion. </p>
        </div>
        <div id="formation-responsive-3">
            <h4 class="date">2011 Cognac,</h4>
            <p class="faculte">Lycée Jean Monnet </p>
            <p class="titre">Baccalauréat Economie</p>
        </div>
    </div>

    <div id="" class="experiences-responsive-invisible experiences-responsive">
        <div id="experience-responsive-1">
            <h4 class="structure">Galaxy Hotels, Informatique</h4>
            <h5 class="poste">Poste occupé : Développeur PHP-SQL (stage) </h5>

            <div class="missions-experiences">
                <p>Missions ou tâches réalisées :</p>
                <ul class="missions">
                    <li>Gestion et mise à jour de l'outil GALAXY</li>
                    <li>Optimisation</li>
                    <li>Gestion d'une partie de la BDD</li>
                    <li>Améliorations ergonomiques diverses</li>
                </ul>
            </div>
        </div>
        <div id="experience-responsive-2">
            <h4 class="structure">Hotel du Soleil, Tourisme</h4>
            <h5 class="poste">Poste occupé : Employé polyvalent saisonnier </h5>

            <div class="missions-experiences">
                <p>Missions ou tâches réalisées :</p>
                <ul class="missions">
                    <li>Gestion des prix</li>
                    <li>Reception physique et téléphonique</li>
                    <li>Gestion logistique</li>
                    <li>Service petits-déjeuners</li>
                </ul>
            </div>
        </div>
        <div id="experience-responsive-3">
            <h4 class="structure">Hotel du Soleil, Tourisme</h4>
            <h5 class="poste">Poste occupé : Employé polyvalent (stage) </h5>

            <div class="missions-experiences">
                <p>Missions ou tâches réalisées :</p>
                <ul class="missions">
                    <li>Gestion des Réservations</li>
                    <li>Reception, accueil, relationnel</li>
                    <li>Suivi clientèle</li>
                    <li>Entretien deslocaux</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="" class="competences-responsive-invisible competences-responsive">
        <div id="competences-responsive-1">
            <h4 id="informatique" class="domaine">Informatique</h4>
            <p class="aspect">Principaux langages : HTML5, CSS3, Javascript (avec JQuery), PHP, Java, Python, C.</p>
            <p class="aspect">Competences en algorithmie et gestion de base de données.</p>
        </div>
        <div id="competences-responsive-2">
            <h4 class="domaine">Langues</h4>
            <ul class="aspect">
                <li>Anglais ★★★★☆</li>
                <li>Espagnol ★★★☆☆</li>
            </ul>
        </div>
        <div id="competences-responsive-3">
            <h4 class="domaine">Autres</h4>
            <p class="aspect">Connaissances en Droit, Marketing, Economie, Commmerce internationnal.</p>

        </div>
        <div id="competences-responsive-4">
            <h4 class="domaine">Exemple de créations</h4>
            <p id="code-git">Les codes sources sont en libre accès sur mon Git (lien en bas).</p>
            <ul class="aspect">
                <li>Création d'un site responsive (HTML,CSS,JS) dans le cadre d'un projet de L1.</li>
                <li>Création d'un site de gestion de thés, coté consommateur, avec gestion de la BDD.</li>
                <li>Création en cours d'une application alternative au site de thés, avec Kotlin sur Android Studio.</li>
                <li>Créations et projets divers accessibles sur mon Git.</li>
            </ul>
        </div>

    </div>
    <div id="" class="interets-responsive-invisible interets-responsive">
        <div id="interets-responsive-1">
            <h4 class="domaine">Informatique</h4>
            <ul class="aspect">
                <li>Découverte et apprentissage de nouveaux langages et paradigmes.</li>
                <li>Créations personnelles : Sites dynamiques et responsives, applications, projets divers.</li>
                <li>Suivi de l'actualité autour de la programmation.</li>
            </ul>
        </div>
        <div id="interets-responsive-2">
            <h4 class="domaine">Sciences et culture</h4>
            <ul class="aspect">
                <li>Lecture et visionnage de contenus de vulgarisateurs scientifiques.</li>
                <li>Lecture d'articles scientifiques.</li>

            </ul>
        </div>
        <div id="interets-responsive-3">
            <h4 class="domaine">Autres</h4>
            <ul class="aspect">
                <li>Jeux vidéo.</li>
                <li>Livres.</li>
                <li>Films et series.</li>
            </ul>
        </div>
    </div>

    <div id="" class="informations-responsive-invisible informations-responsive">
        <div id="presentation-responsive">
            <h3>Alexis Giavarini</h3>
            <p class="age"></p>
            <p>Permis BA</p>
            <p>07.71.20.47.54</p>
            <p>alexis.13400@gmail.com</p>
        </div>
    </div>

</div>
