<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <title>CV Alexis Giavarini</title>
</head>

<footer>
    <div class="logos_sociaux">
        <p>
            <a href="https://www.facebook.com/alexis.giavarini" target="_blank">Me contacter via Facebook</a>
            <a href="https://www.facebook.com/alexis.giavarini" target="_blank"><img
                    src="images/interactions/facebook.png" alt="fb" /></a>
        </p>
        <p>
            <a href="mailto:alexis.13400@gmail.com">Me contacter via e-mail</a>
            <a href="mailto:alexis.13400@gmail.com"><img src="images/interactions/mail.png" alt="mail" /></a>
        </p>
        <p>
            <a href="https://gitlab.com/AlexisGiavarini" target="_blank">Mon GitLab</a>
            <a href="https://gitlab.com/AlexisGiavarini" target="_blank"><img src="images/interactions/gitlab.png"
                    alt="git" /></a>
        </p>
        <p id="pdf">
            <a href="fichiers/cvPDF.pdf" target="_blank">Ouvrir au format pdf</a>
            <a href="fichiers/cvPDF.pdf" target="_blank"><img src="images/interactions/pdf.png" alt="pdf" /></a>
        </p>
    </div>
</footer>