<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <title>CV Alexis Giavarini</title>
</head>

  <header>
   <canvas class="canvas" width="1000" height="140">
       canvas non supporté par le navigateur.
   </canvas>
    <div id="presentation">
        <h3>Alexis Giavarini</h3>
        <p class="age"></p>
        <p>Permis BA</p>
        <p>07.71.20.47.54</p>
        <p>alexis.13400@gmail.com</p>   
    </div>
    <!--<div>
    <img id="profil" src="images/photo/screenshot.png" alt="profil"/>
    </div>
    -->
    
</header>